In [ ]:
#Name: Sumaitha Jannat
#ID: 21301465
#Sec: 12
#Assignment 7

In [5]:
#Task 1
class Student:
   def __init__(self, name='Just a student', dept='nothing'):
      self.__name = name 
      self.__department = dept 
   def set_department(self, dept):
       self.__department = dept
   def get_name(self):
      return self.__name 
   def set_name(self,name):
      self.__name = name
   def __str__(self):
      return 'Name: '+self.__name+' Department: '+self.__department
class BBA_Student(Student):
  def __init__(self,name='default',dept='BBA'):
    super(). __init__(name,dept)
    self.name=name
    self.dept=dept
print(BBA_Student()) 
print(BBA_Student('Humpty Dumpty')) 
print(BBA_Student('Little Bo Peep'))

Name: default Department: BBA
Name: Humpty Dumpty Department: BBA
Name: Little Bo Peep Department: BBA

In [4]:
#Task 2
class Vehicle:
   def __init__(self):
      self.x = 0 
      self.y = 0
   def moveUp(self):
      self.y+=1 
   def moveDown(self):
      self.y-=1 
   def moveRight(self):
      self.x+=1
   def moveLeft(self):
      self.x-=1
   def __str__(self):
      return '('+str(self.x)+' , '+str(self.y)+')'
class Vehicle2010(Vehicle):
  def __init__(self):
    super(). __init__()
  def moveLowerLeft(self):
    self.x-=1
    self.y-=1
  def equals(self,other=None):
    if other!=None:
      if str(self)==str(other):
        return True
      else:
        return False
print('Part 1')
print('------')
car = Vehicle()
print(car) 
car.moveUp() 
print(car) 
car.moveLeft() 
print(car) 
car.moveDown() 
print(car) 
car.moveRight() 
print(car) 
print('------') 
print('Part 2') 
print('------') 
car1 = Vehicle2010() 
print(car1) 
car1.moveLowerLeft() 
print(car1) 
car2 = Vehicle2010() 
car2.moveLeft() 
print(car1.equals(car2)) 
car2.moveDown() 
print(car1.equals(car2))

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True

In [8]:
#Task 3
class Tournament:
  def __init__(self,name='Default'):
      self.__name = name
  def set_name(self,name):
      self.__name = name 
  def get_name(self):
      return self.__name
class Cricket_Tournament(Tournament):
  def __init__(self,name="Default",team=0,types='No Type'):
    super(). __init__(name)
    self.team=team
    self.types=types
  def detail(self):
    return(f"Cricket Tournament Name: {super().get_name()}\nNumber of Teams: {self.team}\nType: {self.types}")
class Tennis_Tournament(Cricket_Tournament):
  def __init__(self,name,team):
    super(). __init__(name,team)
  def detail(self):
    return(f"Tennis Tournament Name: {super().get_name()}\nNumber of Players: {self.team}")
ct1 = Cricket_Tournament()
print(ct1.detail()) 
print("-----------------------") 
ct2 = Cricket_Tournament("IPL",10,"t20") 
print(ct2.detail()) 
print("-----------------------") 
tt = Tennis_Tournament("Roland Garros",128) 
print(tt.detail())

Cricket Tournament Name: Default
Number of Teams: 0
Type: No Type
-----------------------
Cricket Tournament Name: IPL
Number of Teams: 10
Type: t20
-----------------------
Tennis Tournament Name: Roland Garros
Number of Players: 128

In [10]:
#Task 4
class Product:
  def __init__(self,id, title, price):
    self.__id = id 
    self. __title = title 
    self. __price = price
  def get_id_title_price(self):
    return "ID: "+str(self.__id)+" Title:"+self.__title+ " Price: "+str(self.__price)
class Book(Product):
  def __init__(self,id,title,price,isbn,publ):
    super().__init__(id,title,price)
    self.isbn=isbn
    self.p=publ
  def printDetail(self):
    return(f"{super().get_id_title_price()} ISBN: {self.isbn} Publisher: {self.p}")
class CD(Product):
  def __init__(self,id,title,price,band,duration,genre):
    super(). __init__(id,title,price)
    self.b=band
    self.d=duration
    self.g=genre
  def printDetail(self):
    return(f"{super().get_id_title_price()} Band:{self.b} Duration: {self.d} minutes Genre:{self.g}")
book = Book(1,"The Alchemist",500,"97806","HarperCollins") 
print(book.printDetail()) 
print("-----------------------") 
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock") 
print(cd.printDetail())

ID: 1 Title:The Alchemist Price: 500 ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title:Shotto Price: 300 Band:Warfaze Duration: 50 minutes Genre:Hard Rock

In [11]:
#Task 5
class Animal:
  def __init__(self,sound):
    self.__sound = sound
  def makeSound(self):
    return self.__sound

class Printer:
  def printSound(self, a):
    print(a.makeSound())
class Dog(Animal):
  def __init__(self,sound):
    return super(). __init__(sound)
class Cat(Animal):
  def __init__(self,sound):
    return super(). __init__(sound)
print('Output:')
d1 = Dog('bark') 
c1 = Cat('meow') 
a1 = Animal('Animal does not make sound') 
pr = Printer() 
pr.printSound(a1) 
pr.printSound(c1) 
pr.printSound(d1)

Output:
Animal does not make sound
meow
bark

In [12]:
#Task 6
class Shape:
  def __init__(self, name='Default', height=0, base=0):
    self.area = 0 
    self.name = name 
    self.height = height 
    self.base = base 
  def get_height_base(self):
    return "Height: "+str(self.height)+",Base: "+str(self.base)
class triangle(Shape):
  def __init__(self,*others):
    super().__init__(name='Default', height=0, base=0)
    if len(others)==0:
      self.name='Default'
      self.height=0
      self.base=0
    elif len(others)==3:
      self.name=others[0]
      self.height=others[1]
      self.base=others[2]
  def calcArea(self):
    self.a=1/2*self.height*self.base
  def printDetail(self):
    result= 'Shape name:'+self.name +'\nHeight:'+str(self.height)+','+' Base:'+str(self.base)
    result+= '\n'+'Area:'+str(self.a)
    return result
class trapezoid(Shape):
  def __init__(self,name,height,base,side):
        super().__init__(name, height, base)
        self.name = name
        self.base = base
        self.height = height
        self.side = side
  def calcArea(self):
        self.area = (1/2)*(self.base+self.side)*self.height
  def printDetail(self):
        result= 'Shape name:'+self.name+','+' Height:'+str(self.height)+','+' Base:'+str(self.base)+','+' Side_A:'+str(self.side)
        result+= '\n'+'Area:'+str(self.area)
        return result
print('Output:')
tri_default = triangle() 
tri_default.calcArea() 
print(tri_default.printDetail()) 
print('--------------------------') 
tri = triangle('Triangle', 10, 5) 
tri.calcArea() 
print(tri.printDetail()) 
print('---------------------------') 
trap = trapezoid('Trapezoid', 10, 6, 4) 
trap.calcArea() 
print(trap.printDetail())

Output:
Shape name:Default
Height:0, Base:0
Area:0.0
--------------------------
Shape name:Triangle
Height:10, Base:5
Area:25.0
---------------------------
Shape name:Trapezoid, Height:10, Base:6, Side_A:4
Area:50.0

In [16]:
#Task 7
class Football:
  def __init__(self, team_name, name, role):
    self.__team = team_name 
    self.__name = name 
    self.role = role 
    self.earning_per_match = 0 
  def get_name_team(self):
    return 'Name: '+self.__name+', Team Name: ' +self.__team
class Player(Football):
  def __init__(self,team,player,position,goal,match):
    super(). __init__(team, player,position)
    self.g=goal
    self.m=match
    earn = self.g * 1000 + self.m * 10
    self.earning_per_match = earn
  def calculate_ratio(self):
    ratio=self.g/self.m
    self.r=ratio
  def print_details(self):
    print(Football.get_name_team(self))
    print('Team Role:',self.role)
    print('Team Goal:',self.g, ',Total Played:',self.m)
    print('Goal Ratio:',self.r)
    print('Match Earning:',self.earning_per_match,"k")
class Manager(Football):
  def __init__(self,team_name,name,role,win):
    super().__init__(team_name,name,role)
    self.w=win
    earn = self.w * 1000
    self.earning_per_match = earn
  def print_details(self):
    print(Player.get_name_team(self))
    print('Team Role:',self.role)
    print('Total Win:',self.w)
    print('Match Earning:',self.earning_per_match,"k")
print('Output:')
player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32) 
player_one.calculate_ratio() 
player_one.print_details() 
print('------------------------------------------') 
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25) 
manager_one.print_details()

Output:
Name: Ronaldo, Team Name: Juventus
Team Role: Striker
Team Goal: 25 ,Total Played: 32
Goal Ratio: 0.78125
Match Earning: 25320 k
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team Role: Manager
Total Win: 25
Match Earning: 25000 k